<template>
    <div>
        <h1>Reading</h1>
        <div>
            <ul v-for="(item,index) in post">
                <li> {{item}} {{index}}<span @click="remove(index)">X</span></li>
            </ul>
        </div>
        <div>
            <ul v-for="item in image">
                <li><img :src='item'> <span >X</span></li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            postRef: firebase.database().ref('post'),
            imageRef: firebase.database().ref('image'),
            post: [],
            value:[],
            image: []
        }
    },

    methods: {
        reading() {
            this.postRef.on('child_added', snapshot => {
                this.post.push(snapshot.val());
                this.value.push(snapshot.key);
            })

            this.imageRef.on('child_added', snapshot => {
                this.image.push(snapshot.val())
            })
        },

        remove(index) {
            console.log(index)
            //remove from front
            this.post.splice(index, 1);
            //remove from firebase --> storing the indexes in an array (vaule[])to know which item has been clicked
            this.postRef.child(this.value[index]).remove();
        },

        stopReading() {
            this.postRef.off()
        }
    },
    mounted() {
        this.reading();
    },
    beforeDestroy() {
        this.stopReading()
    }
}
</script>
