<template>
    <div>
        <input v-model="value"></input>
        <input @change="upload" type="file"
       id="avatar" name="avatar"
       accept="image/png, image/jpeg">

       <br>
       <br>
       <br>
       <br>
        <button @click="send">send</button>
    </div>
</template>

<script>
export default {
    data() {
        return {
            value: '',
            //create reference
            postRef: firebase.database().ref('post'),
            imageRef: firebase.database().ref('image'),
            storageRef: firebase.storage().ref('/images'),
            selectedFile: null,

        }
    },

    methods: {
        send() {
            this.postRef.push(this.value)
            var filename = this.selectedFile.name
            // var fileRef = this.storageRef.child(filename)
            var upload = this.storageRef.put(this.selectedFile);
            var self = this;
            upload.on('state_changed', function(snapshot){
                // Observe state change events such as progress, pause, and resume
                // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
            }, function(error) {
             // Handle unsuccessful uploads
            }, function() {
                // Handle successful uploads on complete
                // For instance, get the download URL: https://firebasestorage.googleapis.com/...
                upload.snapshot.ref.getDownloadURL().then(function(snapshot) {
                    
                    self.imageRef.push(snapshot)
                });
            });
           
          
        },

        upload(event) {
             this.selectedFile = event.target.files[0];
        }
    }
}
</script>

