<template>
  <div id="app">
    <div id="nav">
     <test />
     <reading />
    </div>
    <router-view/>
  </div>
</template>
<script>
  import test from './components/test.vue'
  import reading from './components/reading.vue'
export default {

    data() {
        return {
            
        }
    },

    components: {test, reading}
}
</script>
<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
